 <!-- Start navbar -->
<header>
  <nav class="navbar">
    <div class="navbar__brand">
      <img
        src="assets/images/Netflix_2015_logo.svg"
        alt="logo"
        class="brand__logo"
      />
    </div>
    <div class="navbar__nav__items">
      <div class="nav__item">
        <div class="dropdown__container">
          <i class="fas fa-globe"></i>
          <select
            name="languages"
            id="languagesSelect"
            class="language__drop__down"
          >
            <option value="english">English</option>
            <option value="Persian" selected>Persian</option>
          </select>
        </div>
      </div>
      <div class="nav__item">
        <button class="sign__button">Sign In</button>
      </div>
    </div>
  </nav>
</header>
